.column {
  flex: 1;
  margin: 0 10px;
  border-radius: 4px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  min-height: 300px; 
  display: flex;
  flex-direction: column;
  width: 400px; 
  height: 600px; 
}

.task-list {
  margin-top: 10px;
  flex-grow: 1;
}

.column-footer {
  display: flex;
  justify-content: space-between;
}

.delete-column {
  cursor: pointer;
}
.add-task {
  cursor: pointer;
} 
.edit-column {
  cursor: pointer;
}
