.column {
  flex: 1;
  margin: 0 10px;
  background-color: #C51D34;
  border-radius: 4px;
  padding: 10px;
  min-height: 300px; /* Set a minimum height for the columns */
  display: flex;
  flex-direction: column;
}

  .task-list {
    margin-top: 10px;
    flex-grow: 1; /* Ensure the task list takes up available space */
  }