.column {
  flex: 1;
  margin: 0 10px;
  border-radius: 10px;
  border-width: 1px;
  padding: 10px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.1);
}

.task-list {
  margin-top: 10px;
  flex-grow: 1;
}

.column-footer {
  display: flex;
  justify-content: space-between;
}

.delete-column {
  cursor: pointer;
  font-size: 15px;
}
.add-task {
  cursor: pointer;
  font-size: 15px;
}
.edit-column {
  cursor: pointer;
  font-size: 15px;
}
.column-title {
  background-color: white;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
