.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.modal-content button:hover {
  background-color: #004494; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
.modal-content button:active {
  transform: scale(0.98); /* Slightly shrink the button on click */
}

.modal-close {
  top: 10px;
  right: 10px;
  cursor: pointer;
}
