.page-container {
    position: relative; /* Required for child with position: absolute */
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width */
}

.page-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333; 
}
