* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 95%);
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  padding: 20px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

.template-section {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.template-card {
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  gap: 8px;
}

.template-card span {
  text-align: center;
}

.template-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.template-icon {
  font-size: 50px;
  margin-bottom: 15px;
  color: #c51d34;
}

.new-board {
  border: 2px dashed #c51d34;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 10px 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

#search-icon {
  color: #c51d34;
  font-size: 18px;
  margin-right: 10px;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  width: 100%;
  color: #333;
}

input::placeholder {
  color: #888;
}

.input-wrapper:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.board-row {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.doc-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  text-align: left;
  color: #202124;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.doc-button:hover {
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ellipsis-icon {
  margin-left: 10px;
  color: #c51d34;
  font-size: 18px;
}

.board-name {
  text-align: left;
  flex-grow: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  max-width: 100%;
}

.modal h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.modal-buttons button:hover {
  opacity: 0.9;
}

.modal-buttons button:first-of-type {
  background-color: #c51d34;
  color: white;
}

.modal-buttons button:last-of-type {
  background-color: #ccc;
}

.btn-container {
  position: fixed;
  top: 15%;
  left: 20px;
  z-index: 10;
}

.fixed-create-board {
  background-color: #c51d34;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  display: block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

.fixed-create-board:hover {
  background-color: #a11628;
}

.fixed-plus-icon {
  margin-right: 8px;
}
