html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.profile-page {
  display: flex;
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #C51D34;
  color: white;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-200px); 
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0); 
}

.sidebar h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #C51D34;
}

.profile-container {
  flex: 1;
  margin-left: 0;
  padding: 20px;
  width: 100vw;
  transition: margin-left 0.3s ease;
}

.profile-container.sidebar-open {
  margin-left: 200px; 
}

.profile-content {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-toggle {
  position: fixed;
  top: 20px;
  left: 0;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #C51D34;
  color: white;
  border: none;
  cursor: pointer;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar-toggle.open {
  left: 200px; 
}
.profile-button {
  background-color: red; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  cursor: pointer; 
  font-size: 1rem;
  border-radius: 5px; 
}

.profile-button:hover {
  background-color: darkred; 
}

