.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;         
    height: 100vh;       
    background-color: #001f3f; 
    color: white;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #0056b3; 
  }

.sidebar-link {
    color: white;
    text-decoration: none;
  }
  
  .sidebar-link:hover {
    text-decoration: underline;
  }

  .sidebar-button {
    background-color: grey; /* Match the red theme */
    color: white; /* White text */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Add padding */
    text-align: left; /* Align text to the left */
    width: 100%; /* Full width */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    display: block; /* Display as block */
    text-decoration: none; /* Remove underline */
  }
  
  .sidebar-button:hover {
    background-color: black; /* Darker red on hover */
  } 
  
  