.navbar {
    background-color: #C51D34;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    color: #F5F5F5;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #F5F5F5;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #808080; /* Button hover color */
}
