.navbar {
    background-color: #2E2E30;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #C51D34;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-button {
    color: #F5F5F5;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #808080;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #C51D34;
}
